
body{  font-family: 微软雅黑 !important; line-height: 22px;letter-spacing: 1px;}
a{   color: black;  text-decoration:none;}
.head a {  color: #ffffff;  text-decoration:none;  }
.content_top a{  color: #ffffff;  text-decoration:none; letter-spacing: 0px; }
*{ margin: 0px;  padding: 0px;}
.head{  background-color:#272727;  width: 100%;  height: 50px;  }
.head p{  color: #ffffff;  }
.main{  overflow: hidden;  height: auto;  width: 100%;  background: url("../img/contentbackground.jpg") no-repeat;  }
.headnav{width:1266px;  margin: 0 auto;overflow: hidden;}
.content_top{overflow: hidden;background: #0f4850;}
.logo{  background-image: url("../img/head.png");  background-repeat: no-repeat;  width: 293px;  height: 46px;   float: left;  }
.first{  float: left;  margin-top:15px;  margin-left: 10px;}
.second{  float: left;  margin-top:15px;  }
.third{  margin-top:15px;  float: left; }
.fourth{  float: left;  margin-top:15px;  }
.foot{  clear: both;  margin-top: 30px;  background-color: #878784;  width: 100%;  height: 80px;  }  .footLogo{  background-image: url("../img/foot.png");  float: left;  margin-left:17%;  margin-top:10px;  height: 57px;  width: 58px;  }  .footText{  float: left;  margin-top:10px;  height: 57px;  }  .footText b{  color: #ffffff;  }
.content{  width:1266px;  margin: 0 auto;  }
.nav0, .nav1, .nav2, .nav3, .nav4, .nav5, .nav6, .nav7, .nav8, .nav9, .nav10{float: left;height: 50px;margin-right: 18px;}
.content_top a{color: #ffffff;display: block;padding-top: 15px;padding-left: 10px;padding-right: 10px;font-size: 18px;font-weight: 500}
.foot{
    clear: both;
    margin-top: 30px;
    background-color: #878784;
    width: 100%;
    height: 80px;
}
.footLogo{
       background-image: url("../img/foot.png");
       float: left;
       margin-left:17%;
       margin-top:10px;
       height: 57px;
       width: 58px;
   }
.footText{
          float: left;
          margin-top:10px;
          height: 57px;
      }
.footText b{
             color: #ffffff;
         }
.topSecond{  font-size: 30px; padding-top:10px;  color: #ffffff;  }
.content{  width:1266px;  margin: 0 auto;  }
.content_main{overflow: hidden;height: auto;min-height: 800px;  }
.content_title {  width: 99.7%;  background-color: #106470;  }
.content_title h2{  color: #ffffff;  padding-left: 30px;  padding-top: 5px;  padding-bottom: 10px;  }
.content_main_left{  padding-top: 10px;  width: 20%;  float: left;  }
.content_main_right{  width: 78%;  float: left; padding-left: 20px;  overflow: hidden;  height: auto;  }
.content_main_left_terms1_content_list_ID{ border: solid 0.5px #dddddd; overflow: hidden;border-radius: 5px;}
.content_main_left_terms1_content_list_ID span{   margin-top: 10px;font-size: 16px;display: block;color: #0f4850; letter-spacing: 2px;}
.content_main_left_terms1{ border: solid 0.5px #dddddd;margin-bottom: 10px;}.content_main_left_terms1_title{border-bottom: 0.5px solid #dddddd;height: 40px;} .content_main_left_terms1_content{padding: 10px;}
.content_main_left_terms1_content_list{ border: solid 0.5px #dddddd;margin-bottom: 5px; overflow: hidden;border-radius: 5px;}
.content_main_left_terms1_content_list span{   margin-top: 10px;font-size: 16px;display: block;color: #0f4850; letter-spacing: 2px;} .titleList{ float: left; padding-left: 20px;margin-right: 10px;}
.content_main_right_title{ padding: 6px;margin-left: 0px;border-bottom: 3px solid #dddddd;height: 28px;margin-top: 10px;}
.content_main_rightTitle{font-size: 24px;color: #109171;display: block;text-align: center;font-weight: 700;letter-spacing: 2px;float: left;}
.position{float: right;font-size: 15px;padding-top: 10px;color: #272727;}
.content_main_left_terms1_title span{ color: #0d8897;font-size: 20px;padding-top: 5px;display: block;text-align: center;}
.breedIndustryNewTwo{ margin-bottom: 5px;border: solid 0.5px #dddddd;}
.nav:hover{  background: #109171;  }
.dataBaseTitle{color: #ffffff;text-align: center;height: 40px;padding-top:10px;border-left:solid 30px #0d4450; }
.dataBaseTitle span{font-size: 28px;}
.breedIndustryNewTwoList span { font-size: 15px;color: #0d8897;text-align: center;display: block;} .breedIndustryNewTwoList{ border-left:0.5px solid #dddddd; border-bottom:0.5px solid #dddddd; border-right:0.5px solid #dddddd;padding: 4px;}