body{  font-family: 微软雅黑 !important;  }
.head a{  color: #FFFFFF;  }
.content_top a{  color: #FFFFFF;  }
a {  text-decoration:none;  }
*{  margin: 0px;  padding: 0px;}
.head{  background-color:#272727;  width: 100%;  height: 50px;  }  .head p{  color: #ffffff;  }
.headnav{width:1324px;  margin: 0 auto;overflow: hidden;}
.logo{  background-image: url("../img/head.png");  background-repeat: no-repeat;  width: 293px;  height: 46px;   float: left;  }
.first{  float: left;  margin-top:15px;  margin-left: 10px;}
.second{  float: left;  margin-top:15px;  }
.third{  margin-top:15px;  float: left; }
.fourth{  float: left;  margin-top:15px;  }
.top{  background-color: #12525e;  width: 100%;  height:50px;  }
.nav0, .nav1, .nav2, .nav3, .nav4, .nav5, .nav6, .nav7, .nav8, .nav9, .nav10{float: left;height: 50px;margin-right: 18px;}
.content{  width: 1324px;  margin:0 auto;  overflow: hidden;  height: auto;  }
.nav:hover {
    background: #109171;
}
.content_top a{color: #ffffff;display: block;padding-top: 15px;padding-left: 10px;padding-right: 10px;font-size: 18px;font-weight: 500}
.content_main{border: 0.5px solid #dddddd;min-height: 800px;}
.top{  background-color: #12525e;  width: 100%;  height:60px;  }
.content_top {  background-color: #0f4850; overflow: hidden;  }
.content_top p {  color: #ffffff;  padding-left: 8px;  padding-top: 8px;  }
.content_container{  height: auto;  overflow: hidden;  background-color: #feffff;  }
.foot{  clear: both;  margin-top: 30px;  background-color: #878784;  width: 100%;  height: 80px;  }
.footBox{width: 1324px;margin: 0 auto;}
.footLogo{  background-image: url("../img/foot.png");  float: left;  margin-top:10px;  height: 57px;  width: 58px;  }
.footText{  float: left;  margin-top:10px;  height: 57px;  }
.footText b{  color: #ffffff;  }
.container{  width: 100%;  height: auto;  overflow: hidden;  }
.main{  overflow: hidden;  height: auto;  width: 100%;  background: url("../img/contentbackground.jpg") no-repeat;  }