body{  font-family: 微软雅黑 !important; line-height: 22px;letter-spacing: 1px;}
a{  color: black;  text-decoration: none;  }
.head a {  color: #ffffff;  text-decoration:none; }
.content_top a{  color: #ffffff;  text-decoration:none; letter-spacing: 0px;  }
*{  margin: 0px;  padding: 0px;}
.head{  background-color:#272727;  width: 100%;  height: 50px;  }
.head p{  color: #ffffff;  }
.container{  overflow: hidden;  height: auto;  margin: 0px;  padding: 0px;  width: 100%;  }
.main{  overflow: hidden;  height: auto;  width: 100%;  background: url("../img/contentbackground.jpg") no-repeat;  }
.headnav{width:1266px;  margin: 0 auto;overflow: hidden;}
.content_top{overflow: hidden;background: #0f4850;}
.logo{  background-image: url("../img/head.png");  background-repeat: no-repeat;  width: 293px;  height: 46px;   float: left;  }
.first{  float: left;  margin-top:15px;  margin-left: 10px;}
.second{  float: left;  margin-top:15px;  }
.third{  margin-top:15px;  float: left; }
.fourth{  float: left;  margin-top:15px;  }
.footBox{width: 1266px;margin: 0 auto;}
.foot{  clear: both;  margin-top: 30px;  background-color: #878784;  width: 100%;  height: 80px;  }  .footLogo{  background-image: url("../img/foot.png");  float: left;  margin-left:17%;  margin-top:10px;  height: 57px;  width: 58px;  }  .footText{  float: left;  margin-top:10px;  height: 57px;  }  .footText b{  color: #ffffff;  }
.content{  width:1266px;  margin: 0 auto;  }
.nav:hover {
    background: #109171;
}
.nav0, .nav1, .nav2, .nav3, .nav4, .nav5, .nav6, .nav7, .nav8, .nav9, .nav10{float: left;height: 50px;margin-right: 18px;}
.content_top a{color: #ffffff;display: block;padding-top: 15px;padding-left: 10px;padding-right: 10px;font-size: 18px;font-weight: 500}
.content_main_left{  float: left;  width: 20%;  padding-top: 10px;  }
.content_main_right{  width: 80%;  float: left;  height: auto;  overflow: hidden;  }
.content_main{  overflow: hidden;  width: auto;  height: auto;  }
.content_main_left_term_content_list3{border: solid 0.5px #dddddd;margin-bottom: 5px;}
.content_main_left_term_content_list2 span{font-size: 18px;color: #0f4850;padding-left:30px;display: block;}
.content_main_left_term_content_list2{border: solid 0.5px #dddddd;margin-bottom: 10px; background: url("../img/index_16.jpg") no-repeat; padding: 10px; }
.content_main_left_term_content_list_title{ border-bottom:solid 0.5px #dddddd;background: url("../img/index_15.jpg") no-repeat; padding: 10px; }
.content_main_left_term_content_list{ border: solid 0.5px #dddddd;margin-bottom: 10px; background: url("../img/index_15.jpg") no-repeat; }
.content_main_left_term_content{padding: 5px;} .content_main_left_term_content_list1{ border: solid 0.5px #dddddd;margin-bottom: 10px;}
.content_main_left_term_content_list_text{border-bottom:solid 0.5px #dddddd;padding: 6px;}  .content_main_left_term_content_list_text span{text-align: center;font-size: 15px;display: block;}
.content_main_left_term_content_list_title span{font-size: 18px;color: #0f4850;padding-left:30px;display: block;} .content_main_left_term_content_list span{font-size: 18px;color: #0f4850;padding-left:30px;display: block;} .content_main_left_term_content_list{border-bottom: 0.5px solid #dddddd; padding: 10px;}
.content_main_left_term{ border: solid 0.5px #dddddd;margin-bottom: 20px;} .content_main_left_term_title{ border-bottom: solid 0.5px #dddddd; padding: 6px;} .content_main_left_term_title span{ font-size: 20px;color: #0f4850;text-align: center;display: block;font-weight: 700;}
.content_main_right_title{ padding: 6px;margin-left: 0px;border-bottom: 3px solid #dddddd;margin-left: 30px;height: 28px;margin-top: 10px;}
.content_main_rightTitle{font-size: 24px;color: #109171;display: block;text-align: center;font-weight: 700;letter-spacing: 2px;float: left;}
.position{float: right;font-size: 15px;padding-top: 10px;color: #272727;}
.content_main_right_box{padding: 5px;margin-left: 28px;margin-top: 15px;}
.content_main_right_lists{overflow: hidden;border-bottom:0.5px dashed #ddd;margin-bottom: 10px;padding-bottom: 5px;} .rightTitle{float: left;}.listTime{float: right;}
.content_main_right_box_title{background: url("../img/index19.png") no-repeat;margin-bottom: 20px;}    .content_main_right_box_title span {font-size: 18px;padding-left: 23px; color: #109171;}
.dataBaseTitle{color: #ffffff;text-align: center;height: 40px;padding-top:10px;border-left:solid 30px #0d4450; }
.dataBaseTitle span{font-size: 28px;}
