@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */
*{ margin:0; padding:0;}
ul,li {list-style-type:none; text-transform:capitalize;}
.clear {clear:both; *display:inline;/*IE only*/}
/*menu*/
#menu{background: #272727;height: 50px;border: solid 1px #272727;}
#nav {margin-left: 16%; width:1080px; display:block;}
#nav .jquery_out {float:left;line-height:32px;display:block; text-align:center; color:#fff;font:18px/32px "微软雅黑"; }
#nav .jquery_out .smile {padding-left:1em;}
#nav .jquery_inner {margin-left:16px;}
#nav .jquery {margin-right:1px;padding:0 2em;}
#nav .mainlevel {float:left; padding-top: 10px;/*IE6 only*/}
#nav .mainlevel a {color: #ffffff; text-decoration:none; line-height:32px; display:block; padding:0 5px; }
#nav .mainlevel a:hover {color: #ffffff; text-decoration:none; background: #12525e; }
#nav .mainlevel ul {display:none; position:absolute;width: 122px;}
#nav .mainlevel li {border-top:1px solid #fff; background: #272727; /*IE6 only*/}
.log {text-align:center; color:skyblue; line-height:24px; text-transform:capitalize; margin:50px auto;}
/* 代码整理：懒人之家 www.lanrenzhijia.com */
